In [1]:
import pandas as pd
import sys
sys.path.insert(0, "../..")
from skpref.random_utility import BradleyTerry
from skpref.task import ChoiceTask
from sklearn.model_selection import train_test_split
import pickle
from collections import Counter
from skpref.model_selection import GridSearchCV

In [2]:
with open('../examples/data/product_choices.pickle', 'rb') as handle:
    choice_data = pickle.load(handle)
    
with open('../examples/data/product_info.pickle', 'rb') as handle:
    product_data = pickle.load(handle)

In [3]:
choice_data.head()

   STORE_ID    BASKET_ID     choice                         alternatives
0       286  29483925362  [6396581]  [5582789, 5584007, 951703, 6396581]
1       286  29773175255  [5584007]  [5582789, 5584007, 951703, 6396581]
2       286  30673440294  [5584007]  [5582789, 5584007, 951703, 6396581]
3       286  32269485930   [951703]  [5582789, 5584007, 951703, 6396581]
4       286  40876776136  [5582789]  [5582789, 5584007, 951703, 6396581]

In [4]:
product_data.head()

   PRODUCT_ID  prod_size     price  price_per_size
0      849098        7.0  1.021950        0.145993
1      951703        4.0  0.568998        0.142249
2     5578643        6.0  0.393425        0.065571
3     5582789        6.0  0.392923        0.065487
4     5584007        6.0  0.393564        0.065594

In [5]:
train, test = train_test_split(choice_data, random_state=1, test_size=0.1)

In [12]:
products_bought_train = ChoiceTask(train, 'alternatives', 'choice', features_to_use=None)

products_bought_test = ChoiceTask(test, 'alternatives', 'choice', features_to_use=None)

In [13]:
mybt = BradleyTerry(method='BFGS', alpha=1e-5)
mybt.fit_task(products_bought_train)

In [14]:
# find most popular product ids
counter = Counter()
j = []
for i in choice_data.choice.values:
    j = j + [k for k in i]
for z in j:
    counter[z] += 1

print('Most popular product_ids based on amounts purchased')
print(counter.most_common())
print("Bradley Terry rank of items given the covariates")
print(mybt.rank_entities(ascending=False))

Most popular product_ids based on amounts purchased
[(5584007, 626), (5582789, 503), (5585727, 439), (5586076, 331), (951703, 266), (5584100, 248), (849098, 219), (5578643, 210), (6396581, 156), (5591746, 2)]
Bradley Terry rank of items given the covariates
[5584007, 5582789, 5585727, 5586076, 951703, 849098, 5578643, 5584100, 6396581, 5591746]

In [15]:
train

,STORE_ID,BASKET_ID,choice,alternatives
859,358,27949977089,[5582789],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
674,335,31944726713,[5585727],"[5582789, 5584007, 5578643, 5584100, 6396581, ..."
396,319,31687353863,[5586076],"[5582789, 5584007, 5586076, 5584100, 951703, 6..."
632,334,31981056749,[5582789],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1436,382,31672507776,[5584007],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1077,365,40826956860,[5582789],"[5582789, 5586076, 5584100, 951703]"
693,337,31467695906,[5578643],"[5582789, 5586076, 5578643, 5584100, 951703, 8..."
1682,403,31699465280,"[5584007, 5585727]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1645,402,33769591563,[5584007],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1210,367,41259451739,[5586076],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1912,427,33155308904,[5586076],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
321,313,41878667375,[849098],"[5582789, 5578643, 5584100, 951703, 6396581, 8..."
1573,396,30822231050,[5586076],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1326,375,29712661641,[849098],"[5582789, 5584007, 5586076, 5578643, 951703, 8..."
913,361,28391483556,"[5584007, 5585727]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
2087,445,33294030055,[6396581],"[5578643, 5584100, 951703, 6396581, 5585727]"
1122,367,29484544653,[5585727],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1481,384,40128036871,[6396581],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
2354,34280,41426624187,[5582789],"[5582789, 5584007, 5578643]"
585,333,32630288511,[951703],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
2355,34280,41652959421,[5578643],"[5582789, 5584007, 5578643]"
1599,400,32630351397,[5586076],"[5586076, 6396581, 849098, 5585727]"
1428,382,29590528546,[5584007],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1624,401,33239661066,"[5582789, 5584007, 5586076]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
2140,450,30241088099,[5585727],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
236,309,27553606203,[5586076],"[5584007, 5586076, 5578643, 5584100, 951703, 6..."
1255,369,40186788767,[5584100],"[5582789, 5578643, 5584100, 951703, 6396581, 8..."
306,313,40340887265,[6396581],"[5582789, 5578643, 5584100, 951703, 6396581, 8..."
614,334,27773843652,[5578643],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1852,421,33002201185,[5584007],"[5582789, 5584007, 5586076, 951703, 6396581, 8..."
...,...,...,...,...
633,334,32137292952,[5585727],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
431,319,41599982447,[5584100],"[5582789, 5584007, 5586076, 5584100, 951703, 6..."
728,339,40928522202,[5586076],"[5582789, 5584007, 5586076, 5584100, 5585727]"
1288,372,28919629234,[951703],"[5582789, 5584007, 5584100, 951703, 6396581, 8..."
2257,31782,32872256912,[5582789],"[5582789, 5584007, 5586076, 5584100, 951703, 6..."
316,313,41426768201,[951703],"[5582789, 5578643, 5584100, 951703, 6396581, 8..."
1920,427,34321596908,[5582789],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1337,375,34749174011,[5584007],"[5582789, 5584007, 5586076, 5578643, 951703, 8..."
319,313,41782762224,[849098],"[5582789, 5578643, 5584100, 951703, 6396581, 8..."
1031,365,29471345450,"[5582789, 5586076]","[5582789, 5586076, 5584100, 951703]"
2025,439,35598252187,[5584007],"[5582789, 5584007, 5586076, 951703, 6396581, 8..."
2189,31582,32187282042,"[5584007, 5578643, 5584100]","[5584007, 5578643, 5584100, 5585727]"
1110,367,28919536722,[849098],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1888,424,35486305858,[5586076],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1527,389,27352261885,[5584007],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
753,343,29238827568,[849098],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
562,330,29702139127,"[5582789, 5585727]","[5582789, 5584007, 5586076, 951703, 6396581, 8..."
668,334,41944436609,[5586076],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
252,311,28733045824,[6396581],"[5582789, 5584007, 5578643, 5584100, 6396581, ..."
357,317,40387091240,"[5578643, 5584100]","[5584007, 5586076, 5578643, 5584100, 951703, 8..."
1278,370,31748074892,[951703],"[5582789, 5584007, 5578643, 5584100, 951703]"
1300,372,32811686882,[951703],"[5582789, 5584007, 5584100, 951703, 6396581, 8..."
1202,367,40278974863,[951703],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
129,298,28282763101,[5584007],"[5584007, 5586076, 5578643, 5584100, 6396581, ..."
144,298,30579522472,[5584007],"[5584007, 5586076, 5578643, 5584100, 6396581, ..."
960,362,29484530347,[5578643],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
905,359,41931567011,[5586076],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1096,367,28243435797,[5585727],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
235,306,42289822314,[5582789],"[5582789, 5584007, 5586076, 5584100, 951703]"
1061,365,33421337969,[5582789],"[5582789, 5586076, 5584100, 951703]"

In [23]:
test

,STORE_ID,BASKET_ID,choice,alternatives
1204,367,40618321983,[5584007],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
50,292,41573721394,[5584007],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
812,346,31623965995,"[5584007, 5585727]","[5582789, 5584007, 5586076, 951703, 6396581, 5..."
1197,367,35688388981,"[5584007, 5585727]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
920,361,29035745176,[5586076],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1606,401,30033682934,[5584007],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
540,327,40186485704,[5585727],"[5584007, 5586076, 5584100, 951703, 6396581, 8..."
397,319,31769262113,[5582789],"[5582789, 5584007, 5586076, 5584100, 951703, 6..."
970,362,41466426671,[951703],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
936,361,31687291076,[6396581],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
2102,446,32008457181,[5585727],"[5582789, 5586076, 5578643, 5584100, 951703, 5..."
1362,380,33770182689,[5582789],"[5582789, 5584007, 5578643, 5584100, 951703]"
2054,443,30034435397,"[5584007, 5585727]","[5582789, 5584007, 5578643, 5584100, 6396581, ..."
1515,388,33971062013,[5582789],"[5582789, 5584007, 5586076, 5584100, 6396581, ..."
730,340,28787855677,[849098],"[5584100, 849098]"
1000,364,33836277529,"[5584007, 5585727]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
587,333,34032804399,"[5578643, 5584100]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
56,293,28243760944,[951703],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
893,359,33769426152,[951703],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1358,380,31198976354,[951703],"[5582789, 5584007, 5578643, 5584100, 951703]"
1809,412,33155376960,[5584007],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
2348,34011,40128458558,[5585727],"[5582789, 5584007, 5578643, 5584100, 6396581, ..."
1249,369,33168196446,[849098],"[5582789, 5578643, 5584100, 951703, 6396581, 8..."
598,333,40235012851,[5582789],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
47,292,40097631102,[849098],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1542,389,41109811722,[5584100],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1036,365,30142171674,[5582789],"[5582789, 5586076, 5584100, 951703]"
1993,436,33957125352,[5584007],"[5582789, 5584007, 5586076, 951703, 5585727]"
679,335,34032777463,[5584007],"[5582789, 5584007, 5578643, 5584100, 6396581, ..."
772,343,31317289001,[951703],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
...,...,...,...,...
368,319,28537979212,[5582789],"[5582789, 5584007, 5586076, 5584100, 951703, 6..."
468,321,34812168561,"[5582789, 5584007, 5585727]","[5582789, 5584007, 5584100, 951703, 6396581, 8..."
2001,438,30823211311,"[5582789, 5586076]","[5582789, 5584007, 5586076, 5578643, 951703, 8..."
2007,438,40248596222,[951703],"[5582789, 5584007, 5586076, 5578643, 951703, 8..."
1427,382,29484805833,[5582789],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
898,359,40300500234,"[5578643, 5584100]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1584,396,32269676156,"[5578643, 5584100, 5585727]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
983,363,40889153617,[5586076],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1508,388,32445301193,[5585727],"[5582789, 5584007, 5586076, 5584100, 6396581, ..."
1243,369,31818900963,[6396581],"[5582789, 5578643, 5584100, 951703, 6396581, 8..."
1252,369,34141895992,[849098],"[5582789, 5578643, 5584100, 951703, 6396581, 8..."
957,362,29035557228,[849098],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
285,313,32204671862,[849098],"[5582789, 5578643, 5584100, 951703, 6396581, 8..."
415,319,40234903948,"[5582789, 5586076]","[5582789, 5584007, 5586076, 5584100, 951703, 6..."
1143,367,30871343859,"[5584007, 5585727]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
432,319,41665911316,"[5582789, 5586076]","[5582789, 5584007, 5586076, 5584100, 951703, 6..."
2123,446,42237747277,"[5578643, 5584100]","[5582789, 5586076, 5578643, 5584100, 951703, 5..."
1131,367,30216966362,"[5584007, 5586076, 5585727]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
894,359,34850546523,[951703],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1123,367,29671876754,[5578643],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
761,343,30054202136,[5582789],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
348,316,40865065461,[5584007],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1937,429,30117948034,[5578643],"[5582789, 5578643, 5584100, 5585727]"
977,363,33251988064,"[5578643, 5584100]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
1634,401,40900165673,[5582789],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
231,306,41944955979,[5584007],"[5582789, 5584007, 5586076, 5584100, 951703]"
1400,381,32794443906,"[5578643, 5584100]","[5582789, 5584007, 5586076, 5578643, 5584100, ..."
650,334,35726771730,[5584100],"[5582789, 5584007, 5586076, 5578643, 5584100, ..."
802,346,30130225516,"[5584007, 5585727]","[5582789, 5584007, 5586076, 951703, 6396581, 5..."
1294,372,31197830042,[849098],"[5582789, 5584007, 5584100, 951703, 6396581, 8..."

In [16]:
mybt.predict_proba_task(products_bought_test, outcome=5584007)

In [20]:
mybt.predict_choice_task(products_bought_test)

array([5584007, 5584007, 5584007, ...,  951703,  849098, 5585727],
      dtype=int64)

In [17]:
mybt.predict_task(products_bought_test)

ValueError: cannot label index with a null key

# Example using Grid Search

In [ ]:
products_bought_train = ChoiceTask(train, 'alternatives', 'choice', features_to_use=None)
products_bought_test = ChoiceTask(test, 'alternatives', 'choice', features_to_use=None)
to_tune = {'alpha': [0.1, 0.5, 1], 'method': ['BFGS', 'Newton-CG']}
gs_bt = GridSearchCV(BradleyTerry(), to_tune,  cv=3)
gs_bt.fit_task(products_bought_train)
gs_bt.inspect_results()

In [ ]:
gs_bt.rank_entities(ascending=False)

In [ ]:
gs_bt.predict_proba_task(products_bought_test)